<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 基础设置 -->
	<settings>
		<!-- changes from the defaults，全局启用或禁用延迟加载。当禁用时，所有关联对象都会即时加载。 -->
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>
		 
	<!-- 别名定义 -->

	<!-- 自定义类型 -->
	<typeHandlers>
		<typeHandler javaType="Boolean" jdbcType="CHAR" handler="com.schedule.common.util.BooleanTypeHandler" />
	</typeHandlers>

</configuration>
